<!DOCTYPE html>
<html>
  <head>
    <title>Here's your color!</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
    />
    <link href="https://fonts.googleapis.com/css2?family=Pangolin&display=swap" rel="stylesheet">
    <link href="/static/styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="box"><h3>You picked: <span class="pickedColor" >#ffffff</span></h3></div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      const socket = io();
      socket.on('{{ eventName }}', color => {
        const colorBox = document.querySelector('.pickedColor');

        document.body.style.background = color;
        colorBox.innerHTML = color;
      });
    </script>
  </body>
</html>
